$color-primary: #dc3364;
$color-secondary: #ffedf2;
$color-body: #717173;
$color-heading: #1f1f25;
$color-bg-primary: #2a2929;
$color-bg-secondary: rgba(26, 25, 25, 0.3);
$font-color-secondary: rgba(198,201,216,.75);
$h1: 90px;
$h2: 60px;
$h3: 40px;
$h4: 36px;
$font-family: "Poppins",sans-serif;
